<!DOCTYPE html>
<html>
<head>
<title><%= @page_title %> - <%= site.title %></title>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<%= stylesheet_link_tag 'bootstrap_black' %>
<%= javascript_include_tag 'bootstrap_black' %>
<%= csrf_meta_tags %>
<meta name='Generator' content='Staytus/<%= Staytus::Config.version %>' />
<link rel="shortcut icon" href="<%= asset_path('favicon.png') %>"/>
<meta content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1' name='viewport' />
</head>
<body>

  <%= display_flash %>

  <%= yield %>

  <footer class='siteFooter'>
    <div class='container'>

      <ul class='siteFooter__nav'>
        <li><a href='/history'><%= t("themes.bootstrap_black.footer.history", :default => 'History') %></a></li>
      </ul>
      <p class='siteFooter__poweredBy'>
        <%= t("themes.bootstrap_black.footer.powered_by", :default => "Powered by") %> <a href='http://staytus.co'>Staytus</a>
      </p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>
